NODE_ENV=development
DATABASE_URL=postgresql://pagespeed_app:pagespeed_admin@postgres:5432/pagespeed_app

AUTH_SECRET="266gPx6pzIvnsJiHT1ftSZWxs0siLM4C+o8c8sJsTZM=" # Added by `npx auth secret`. Read more: https://cli.authjs.dev

AUTH_DISCORD_ID="1177934154223079454"
AUTH_DISCORD_SECRET="bCFn6qTATXg8XdsKJ502PWa5fUWWA0rP"
